:root{
    /* --main-background: #F4F5EF;
    --extra-red: #7D2826;
    --sub-green: #898861;
    --main-green: #343723;
    --backhround-green: #CDD1B7 */
    --main-background: #FFF8E6;
    --extra-plum: #472D49;
    --sub-gold: #A37800;
    --main-gold: #705200;
    --background-gold: #d3c397;
}
