:root{
    /* --main-background: #F4F5EF;
    --extra-red: #7D2826;
    --sub-green: #898861;
    --main-green: #343723;
    --backhround-green: #CDD1B7 */
    --main-background: #fdfaf0;
    --extra-plum: #472D49;
    --sub-gold: #b89d70;
    --main-gold: #815f00;
    --background-gold: #d3c397;
}
